
.DS_Store

etherpad-lite-objc.xcodeproj/project.xcworkspace/contents.xcworkspacedata

etherpad-lite-objc.xcodeproj/project.xcworkspace/xcuserdata/alex.xcuserdatad/UserInterfaceState.xcuserstate

etherpad-lite-objc.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/etherpad-lite-objc.xcscheme

etherpad-lite-objc.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/xcschememanagement.plist
